<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postres</title>
</head>
<body>
    <h1>Tipos de postre</h1>
    <form action="/search" method="GET">
        <input type="text" name="query">
        <button>Buscar</button>
    </form>
    <ul>
        <li><a href="/postres/suaves">Suaves</a></li>
    </ul>

    <footer>
        <a href="/about">Acerca de nosotros</a>
    </footer>
</body>
</html>